@font-face {
    font-family: "ProductSansBold";
    src: url(/Product\ Sans\ Bold.ttf);
}

@font-face {
    font-family: "ProductSansRegular";
    src: url(/Product\ Sans\ Regular.ttf);
}

.name {
    font-family: 'ProductSansBold';
    color: white;
    font-size: 30px;
    padding: 10px;
}

.btnsrc {
    background: none;
    color: white;
    font-family: "ProductSansBold";
    display: inline-block;
    text-decoration: none;
    font-size: 15px;
    cursor: pointer;
}

.btn1 {
    border: 2px solid #171a21;
    border-radius: 10px;
    padding: 10px;
    background: linear-gradient(240deg, #00adee, #000000);
}

.btn2 {
    border: 2px solid #e95950;
    border-radius: 10px;
    padding: 10px;
    transition: 0.3s;
    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
}

.btn3 {
    border: 2px solid #5865F2;
    border-radius: 10px;
    padding: 10px;
    background: #5865F2;
}