body {
    font:18px 'Gilroy', sans-serif;
}
.button {
    border: none;
    padding: 15px 32px;
    background-color: white;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-style: solid;
    border-radius: 1px;
    border-color: black;
    transition-duration: 0.4;
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow: hidden;   
    width: 80%;
}
.button:hover {
    transition: all 0.3s ease;
    transform: scale(0.98);
    background-color: transparent;
    border-color: white;
    color: white;
    transition-duration: 0.4;
    border-radius: 10px;
    border-style: dashed;
    border-left-width: 100;
}
@media screen and (max-width: 750px) {
    .widget {
        display: none !important;
        width: 10%;
    }
    body {
        font:8px 'Gilroy', sans-serif;
        align-items: center;
    }
    .button {
        padding: 15px 32px;
    }
}